<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}IoT Project{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Home</a>

        <a href="index.html">Dashboard</a>
      <a href="devices.html">Devices</a>
      <a href="alerts.html">Alerts</a>

        {% if session.get('username') %}
            {% if session.get('role') == 'admin' %}
                <a href="{{ url_for('admin_dashboard') }}">Admin Dashboard</a>
            {% else %}
                <a href="{{ url_for('user_dashboard') }}">User Dashboard</a>
            {% endif %}

            <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
            <a href="{{ url_for('login') }}">Login</a>
        {% endif %}
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>Milestone 1</p>
    </footer>
</body>
</html>
