<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}IoT Project{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('index') }}">Home</a>

            {% if session.get('username') %}
                <a href="{{ url_for('alerts') }}">Alerts</a>
            {% endif %}

            {% if session.get('username') %}
                {% if session.get('role') == 'admin' %}
                    <a href="{{ url_for('admin_dashboard') }}">Admin Dashboard</a>
                    <a href="{{ url_for('admin_devices') }}">Devices</a>
                {% else %}
                    <a href="{{ url_for('user_dashboard') }}">User Dashboard</a>
                    <a href="{{ url_for('user_devices') }}">Devices</a>
                {% endif %}

                <a href="{{ url_for('logout') }}">Logout</a>
            {% else %}
                <a href="{{ url_for('login') }}">Login</a>
            {% endif %}
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>Milestone 1</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>